@import "tailwindcss";

@plugin "daisyui" {
  themes: wireframe --default;
  /* themes: false; */
}
/* 
@plugin "daisyui/theme" {
  name: "breakthru";
  default: true;

  --color-primary: #2d6a4f;
  --color-primary-content: #f0f0f0;
  --color-secondary: #1a3a2a;
  --color-secondary-content: #f0f0f0;
  --color-accent: #52b788;
  --color-accent-content: #0a0a0a;
  --color-base-100: #0a0a0a;
  --color-base-200: #111811;
  --color-base-300: #1e2b1e;
  --color-base-content: #f0f0f0;
  --color-neutral: #1a3a2a;
  --color-neutral-content: #f0f0f0;

  --radius-btn: 0.25rem;
  --radius-box: 0.375rem;
}

:root {
  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
} */
